.professional_page {

  .page-header {
    background-image: url(/images/cane.png);
    background-size: 20%;
    @include breakpoint(large) {
      background-size: 180px;
    }
  }

  .full-stack {
    @include breakpoint(large) {
      margin-right: 0;
      padding-right: 0;
      float: left;
      width: 47vw;
    }
    dd {
      max-width: 68%;
      @include breakpoint(large) {
        width: $col_size*4 + $gutter*3;

      }
    }
  }

  .experience-skills {
    padding: 2em 1em;
    background: $subtle-overlay;
    margin: 0 auto 2em;
    width: $col_size * 12 + $gutter * 11;

    @include breakpoint(medium) {
      width: $col_pct*10 + 18%;
    }
    @include breakpoint(large) {
      float: left;
      margin-left: $gutter;
      width: 47vw - ($col_size + $gutter*2);
    }
    @include breakpoint(larger) {
      width: 47vw - ($col_size + $gutter);
    }
    @include breakpoint(xlarge) {
      width: $col_size*4 + $gutter*4
    }
  }

  .technical-management {
    clear: both;
  }
}
