footer {
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 10vh;
  min-height: 5rem;
  padding: 0 $gutter;
  vertical-align: top;
  display: flex;
  position: fixed;

  &:before {
    content: '';
    @extend %cw_bgcolor_main;
    @extend %cw_bgblend;
    transition: background-color 360ms linear;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .9;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  @include breakpoint (medium_down) {
    font-size: 70%;
    text-align: center;
    justify-content: center;
  }
}

footer nav {
  margin-left: -1em;
}

footer a {
  @extend %nav-item;
}

footer div {
  margin: 0 1rem;
  display: inline-block;
}
