header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 10vh;
  min-height: 5rem;
  margin: 0 auto;
  padding: 0 $gutter;
  vertical-align: top;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  @include breakpoint(under_min_height) {
    height: 7.5rem;
  }
}

header nav {
  margin-top: .74em;
  margin-right: -.7em;
}

header nav a {
  @extend %nav-item;
}
