
.tile {
  display: flex;
  width: 100%;
  padding: $gutter;
  padding: $col_size $gutter;
  opacity: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  padding: 0 15%;
  position: relative;

  @extend %cw_main_font_color;
  &:hover {
    @extend %cw_text_outline;
  }
  @include breakpoint(small_down) {
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }
  @include breakpoint(medium) {
    font-size: $ml-size;
    width: 47%;
    margin-bottom: 2vh;
    margin-left: $gutter;
    padding: 0 1em;
    height: 31.3%;
    transition: opacity .5s ease-in;
  }

  @include breakpoint(small_to_medium) {
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(7) {
      border: none!important;
      order: 9;
    }
  }
  @include breakpoint(large) {
    font-size: $l-size;
    width: $col_size * 4 + $gutter * 3;
    min-width: $col_size * 4 + $gutter * 3;
    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}

a.tile {
  @extend %cw_tile_box;

  @include breakpoint(small_down) {
    height: 13vh;
    border: none;
    background: rgba(0,0,0,.7)!important;
  }

  /* fancy hovers */
  @include breakpoint(medium) {
    & span {
      display: block;
    }
    &:before, &:after {
      content:"";
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }
    & span:before, & span:after {
      content:"";
      width: 2px;
      height:0;
      position: absolute;
      transition: all 0.2s linear;
      background: rgba(255,255,255,.9);
    }
    .hovers &:hover:before, .hovers &:hover:after {
      width: 100%;
    }
    .hovers &:hover span:before, .hovers &:hover span:after {
      height: 100%;
    }
    &:before {
      left: 50%;
      top: 0;
      transition-duration: 0.4s;
    }
    &:after {
      left: 50%;
      bottom: 0;
      transition-duration: 0.4s;
    }
    & span::before{
      left: 0;
      top: 50%;
      transition-duration: 0.4s;
    }
    & span::after{
      right: 0;
      top: 50%;
      transition-duration: 0.4s;
    }
    .hovers &:hover:before, .hovers &:hover:after{
      left: 0;
    }
    .hovers &:hover span::before, .hovers &:hover span::after{
      top: 0;
    }
  }

}

.tile.show_bg {

  @extend %cw_bgcolor_main;

  @include breakpoint(small_down) {
    background: rgba(0,0,0,.01)!important;
  }

  @include breakpoint(medium) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: .9;
    background-image: url(/images/hubble_lowres.png);
  }
  .bg_loaded & {
    @include breakpoint(medium) {
      background-image: url(/images/hubble_620.png);
    }
    @include breakpoint(larger) {
      background-image: url(/images/hubble_1400.png);
    }
  }

}
