.tiles_wrapper {
  width: 100%;
  min-width: 100%;
  display: flex;

  @include breakpoint(small_down) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/images/hubble_620.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  @include breakpoint(medium_down_short_px) {
    padding-top: 15vh;
    height: 90vh;
  }
  @include breakpoint(under_min_height) {
    display: none;
  }
  @include breakpoint(medium) {
    height: 80vh;
    min-height: 400px;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
  }

}

@for $i from 0 through 9 {
  .show_bg:nth-of-type(#{$i}) {
    -webkit-transition-delay: calc(.1s * #{$i});
    transition-delay: calc(.1s * #{$i});
  }
}
.fade-appear .tile {
  opacity: 0;
}
.fade-enter.fade-enter-active .tile {
  opacity: 1;
}
.fade-appear-active {
  .tile {
    opacity: 1;
  }
}
