
.tile {
  flex: 0 1 auto;
  width: 100%;
  min-width: 100%;
  padding: $gutter;
  padding: $col_size $gutter;
  transition: opacity .5s ease-in;
  opacity: 1;
  text-align: center;
  line-height: 1.3;

  @include breakpoint(medium) {
    font-size: $l-size;
    width: $col_size * 6 + $gutter * 5;
    min-width: $col_size * 6 + $gutter * 5;
    height: 22.5vh;
    min-height: 15rem;
    margin-bottom: $gutter;
    margin-left: $gutter;
    padding: 0;
  }
  @include breakpoint(large) {
    width: $col_size * 4 + $gutter * 3;
    min-width: $col_size * 4 + $gutter * 3;
    .tile:nth-of-type(1) {
      margin-right: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 0 15%;
  }
}
/*
 *
 * misc tile designs applied in TilesWrapper.js
 *
 */

.tile.corner_color {
  position:relative;
  &:before {
    opacity: 0;
    background-image:
    linear-gradient(
      354deg,
      transparent,
      transparent 35%,
      $c-stripe-body-color 35%,
      $c-stripe-body-color 51%,
      $c-stripe-color 51%,
      $c-stripe-color 67%,
      transparent 67%
    );
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
  }
  &:hover:before {
    transition: opacity .5s ease-in;
    opacity: 1;
  }
}

.tile.boxed {
  border: 1.90vw solid $c-stripe-body-color;
}

.tile.space {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-color: $c-site_background;
  background-image: url(/images/hubble_620.png);
  @include breakpoint(large) {
    background-image: url(/images/hubble_1400.png);
  }
}
