* {
  box-sizing: border-box;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  @extend %cw_main_font_color;
  @extend %cw_bgcolor_main;
  font-family: 'Quicksand', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  transition: background-color 360ms linear;
  margin: 0;
  overflow-x: hidden;
}
a {
  @extend %cw_link_color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.pageWrapper {
  position: relative;
  top: 0;
  display: flex;
  flex-flow: column;
  align-content: stretch;
  width: 100%;
  padding-top: 10vh;
  @include breakpoint(under_min_height) {
    padding: 7.5rem 0 0;
  }
}

.animated-page-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80vh;
}
.page {
    width: 100%;
    > h1,
    .text_wrapper {
      margin: 0 $gutter;
    }
}
