* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  @extend %cw_main_font_color;
  @extend %cw_bgcolor_main;
  font-family: 'Quicksand', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  transition: background-color 360ms linear;
  margin: 0;
  overflow-x: hidden;
}

a {
  @extend %cw_link_color;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.page-wrapper {
  position: relative;
  top: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  @include breakpoint(small_down) {
    padding: 100px 0 70px;
  }
  @include breakpoint (small) {
    padding: 10vh 0;
  }
  @include breakpoint (medium_up_short_px) {
    padding: 92px 0 70px;
  }
}

.page {
  width: 100%;

  .text_wrapper {
    margin: 0 $gutter;
    @include breakpoint(medium) {
      padding: 0 $col_size + $gutter;
    }
    @include breakpoint(large) {
      padding: 0 $col_size;
    }
    @include breakpoint(larger) {
      padding: 0 $col_size + $gutter;
    }
  }
}

.icon-links {
  text-align: center;
  padding: 1.1em 0 1em;
  background-color: rgba(255,255,255,.08);
  width: 96%;
  margin: 0 auto;
  a {
    display: inline-block;
  }
  svg {
    width: 3.6em;
    height: 3.6em;
    margin: 0 .6em;
    fill: $bright-overlay;
    transition: fill .4s ease;
  }
}

h1 {
  font-size: 2rem;
  @include breakpoint(medium) {
    font-size: 2.6rem;
  }
  @include breakpoint(large) {
    font-size: 3.1rem;
  }
}

h2 {
  font-size: 2rem;
  @include breakpoint(medium) {
    font-size: 3rem;
  }
  @include breakpoint(large) {
    font-size: 4rem;
  }
  @include breakpoint(xlarge) {
    font-size: 5rem;
  }
}

h3 {
  font-size: 1.8rem;
  @include breakpoint(large) {
    font-size: 2.6rem;
  }
  @include breakpoint(xlarge) {
    font-size: 3.2rem;
  }
}

h4 {
  font-size: 2rem;
  .page & {
    margin-left: $gutter;
    margin-bottom: 1.2em;
    width: $gutter*9+$col_size*10;
    clear: both;
    @include breakpoint(medium) {
      margin-left: $gutter+$col_size;
    }
    @include breakpoint(large) {
      margin-left: $gutter+$col_size;
    }
    @include breakpoint(larger) {
      margin-left: $gutter*2+$col_size;
    }
  }

  padding-bottom: .2em;
  @include breakpoint(medium) {
    font-size: 2.5rem;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  @include breakpoint(xlarge) {
    font-size: 3rem;
  }
}

h5 {
  font-size: 1.3rem;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
  @include breakpoint(large) {
    font-size: 2.4rem;
  }
  @include breakpoint(xlarge) {
    font-size: 2.8rem;
  }
}

p {
  max-width: 1100px;
  margin: 0 0 1.6em;
}

figure {
  margin: 0;
}

.iFrame {
  width: 960px;
  margin: 0 auto;
}
