// description list / timeline

dl:after {content:"";display:table;clear:both;}

dl {
    width:100%;
}
dt, dd {
    display:inline-block;
    padding: 0 0 1em;
}
dt {
    width: $col_size*2 + $gutter*2;
    margin-right: $col_size;
    text-align:right;
    font-weight:bold;
    clear:both;
    float:left;
    @include breakpoint(large) {
      width: $col_size;
      margin-right: 0;
    }
}
dd {
    -webkit-margin-start: 0;
    width: auto;
    float: left;
    clear: right;
    margin-left: $gutter;

}
dd + dd {
    float:right;
    clear:both;
}
dd + dt {
   clear:both;
}
dt + dt {
    width: 100%;
    float: none;
    padding: 0 auto 0 0;
}
dt + dt + dd {
    margin-top: -2em;
}
dt + dt + dd + dt {
    margin-top: 2em;
}
