%nav-item {
  padding: .5em 1em;
  display: inline-block;
  text-decoration: none;
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

@mixin breakpoint($point) {

  @if $point == under_min_px_height {
    @media (max-height: 600px) { @content ;}
  }
  @if $point == under_min_height {
    @media (max-height: 75vw) and (max-width: 900px) { @content ;}
  }
  @if $point == under_good_height {
    @media (max-height: 90vw) { @content ;}
  }
  @if $point == small {
    @media (min-width: 500px)  { @content ; }
  }
  @if $point == small_down {
    @media (max-width: 499px)  { @content ; }
  }
  @if $point == small_to_medium {
    @media (min-width: 500px) and (max-width: 899px) { @content ;}
  }
  @if $point == medium {
    @media (min-width: 500px)  { @content ; }
  }
  @if $point == medium_down {
    @media (max-width: 900px)  { @content ; }
  }
  @else if $point == large {
    @media (min-width: 900px)  { @content ; }
  }
  @else if $point == larger {
    @media (min-width: 1200px)  { @content ; }
  }
  @else if $point == xlarge {
    @media (min-width: 1600px)  { @content ; }
  }
}
